In [48]:
import mysql.connector as sqlt 
import pandas as pd
from tabulate import tabulate
con = sqlt.connect(host = "localhost", user = "root", passwd = "Terrencetao123", database = "library" )
cursor = con.cursor()
def input_buku():
    bookid=input("Masukan Book Id = ")
    bname =input("Masukan Nama Buku = ")
    category = input("Masukan Kategori = ")
    stock = int(input("Masukan Stok = "))
    qry = "insert into book values ({}, '{}','{}',{});".format(bookid,bname,category,stock)
    cursor.execute(qry)
    con.commit()
    
def edit_buku():
    x = int(input("masukan id buku = "))
    qry = "select * from book where bookid = {};".format(x)
    cursor.execute(qry)
    r=cursor.fetchone()
    if r:
        y=input("masukan nama buku = ")
        qry="update book set bname = '{}' where bookid = {};".format(y,x)
        cursor.execute(qry)
        con.commit()
    else:
        print("ga ada")
        
def hapus_buku():
    x = int(input("masukan id buku = "))
    qry = "select * from book where bookid = {};".format(x)
    cursor.execute(qry)
    r=cursor.fetchone()
    if r:
        qry="delete from book where bookid = {};".format(x)
        cursor.execute(qry)
        con.commit()
    else:
        print("ga ada")
        
def cari_buku():
    x = int(input("masukan id buku = "))
    qry = "select * from book where bookid = {};".format(x)
    cursor.execute(qry)
    r=cursor.fetchone()
    if r:
        df = pd.read_sql(qry,con)
        print(tabulate(df, headers = 'keys', tablefmt= 'psql', showindex = False))
    else:
        print("ga ada")
        

def input_member():
    memberid=input("Masukan Member Id = ")
    mname = input("Masukan nama member = ")
    tgl_lahir = input("Masukan Tanggal Lahir = ")
    pekerjaan = input("Masukan Pekerjaan = ")
    alamat = input("Masukan Alamat = ")             
    qry = "insert into member values ({}, '{}','{}','{}','{}');".format(memberid,mname,tgl_lahir,pekerjaan,alamat)
    cursor.execute(qry)
    con.commit()
    
def edit_member():
    x = int(input("masukan id Member = "))
    qry = "select * from member where memberid = {};".format(x)
    cursor.execute(qry)
    r=cursor.fetchone()
    if r:
        y=input("masukan nama pekerjaan = ")
        qry="update member set pekerjaan = '{}' where memberid = {};".format(y,x)
        cursor.execute(qry)
        con.commit()
    else:
        print("ga ada")
        
def hapus_member():
    x = int(input("masukan id Member = "))
    qry = "select * from member where memberid = {};".format(x)
    cursor.execute(qry)
    r=cursor.fetchone()
    if r:
        qry="delete from member where memberid = {};".format(x)
        cursor.execute(qry)
        con.commit()
    else:
        print("ga ada")
        
def cari_member():
    x = int(input("masukan id member = "))
    qry = "select * from member where memberid = {};".format(x)
    cursor.execute(qry)
    r=cursor.fetchone()
    if r:
        df = pd.read_sql(qry,con)
        print(tabulate(df, headers = 'keys', tablefmt= 'psql', showindex = False))
    else:
        print("ga ada") 
        
def output_buku():
    df = pd.read_sql("select * from book",con)
    print(tabulate(df, headers = 'keys', tablefmt = 'psql', showindex = False))

def output_member():
    df = pd.read_sql("select * from member",con)
    print(tabulate(df, headers = 'keys', tablefmt = 'psql', showindex = False))    

def output_return():
    df = pd.read_sql("select * from returns",con)
    print(tabulate(df, headers = 'keys', tablefmt = 'psql', showindex = False))    

def output_issue():
    df = pd.read_sql("select * from issue",con)
    print(tabulate(df, headers = 'keys', tablefmt = 'psql', showindex = False))    

def issue_buku():
    q = "select max(issueid) from issue;"
    cursor.execute(q)
    r= cursor.fetchone() [0]
    if r:
        issueid = r+1
    else:
        issueid = 1
    x = int(input("masukan member id = "))
    q1 = "select * from member where memberid = {};".format(x)
    cursor.execute(q1)
    r = cursor.fetchone()
    if r:
        y = int(input("masukan id buku = "))
        q2 = "select bookid, stock from book where bookid = {};".format(y)
        cursor.execute(q2)
        r = cursor.fetchone()
        if r:
            if r[1] > 0:
                issuedate = input("masukan tanggal pengambilan = ")
                restock = int(input("masukan jumlah stok = "))
                stock = r[1] - restock
                q3 = "insert into issue values({},'{}',{},{},{});".format(issueid,issuedate,x,y,stock)
                cursor.execute(q3)
                q4 = "update book set stock = {} where bookid = {};".format(stock,y)
                cursor.execute(q4)
                con.commit()
                print("Buku diambil")
            else :
                print("Buku tidak ada")
        else :
            print("salah id buku")
    else:
        print("ga ada")
        
def return_buku():
    q = "select max(returnid) from returns;"
    cursor.execute(q)
    r= cursor.fetchone() [0]
    if r:
        returnid = r+1
    else:
        returnid = 1
    x = int(input("masukan member id = "))
    q1 = "select * from member where memberid = {};".format(x)
    cursor.execute(q1)
    r = cursor.fetchone()
    if r:
        y = int(input("masukan id buku = "))
        q2 = "select bookid, stock from book where bookid = {};".format(y)
        cursor.execute(q2)
        r = cursor.fetchone()
        if r:
            returndate = input("masukan tanggal pengembalian = ")
            restock = int(input("masukan jumlah stok = "))
            stock = r[1] + restock
            q3 = "insert into returns values({},'{}',{},{},{});".format(returnid,returndate,x,y,stock)
            cursor.execute(q3)
            q4 = "update book set stock = {} where bookid = {};".format(stock,y)
            cursor.execute(q4)
            con.commit()
            print("Buku dipinjam")
        else :
            print("salah id buku")
    else:
        print("ga ada")        
    
while(True):    
    print("Masukan pilihanmu\n1. Detail Buku\n2. Detail Member\n3. Peminjaman or Pengembalian\n4. Report\n5. Exit  ")
    pilih = int(input("pilihan = "))
    if pilih ==1:
        while(True):
            print("Pilihannya \n1. Menambahkan Buku\n2. Mengedit Buku\n3. Menghapus Buku\n4. Mencari Buku\n5. Exit ")
            pilihan = int(input("Masukan pilihan = "))
            if pilihan == 1:
                input_buku()
            elif pilihan == 2:
                edit_buku()
            elif pilihan == 3:
                hapus_buku()
            elif pilihan == 4:
                cari_buku()
            elif pilihan == 5:
                break
    elif pilih ==2:
        while(True):
            print("Pilihannya \n1. Menambahkan Member\n2. Mengedit Member\n3. Menghapus Member\n4. Mencari Member\n5. Exit ")
            pilihan = int(input("Masukan pilihan = "))
            if pilihan == 1:
                input_member()
            elif pilihan == 2:
                edit_member()
            elif pilihan == 3:
                hapus_member()
            elif pilihan == 4:
                cari_member()
            elif pilihan == 5:
                break
    elif pilih ==3:
        while(True):
            print("Pilihannya \n1. Mengambil Buku\n2. Mengembalikan Buku\n3. Exit ")
            pilihan = int(input("Masukan pilihan = "))
            if pilihan == 1:
                issue_buku()
            elif pilihan == 2:
                return_buku()
            elif pilihan == 3:
                break
    elif pilih ==4:
        while(True):
            print("Pilihannya \n1. Detail Buku\n2. Detail Member\n3. Detail Pengambilan\n4. Detail Peminjaman\n5. Exit ")
            pilihan = int(input("Masukan pilihan = "))
            if pilihan == 1:
                output_buku()
            elif pilihan == 2:
                output_member()
            elif pilihan == 3:
                output_issue()
            elif pilihan == 4:
                output_return()
            elif pilihan == 5:
                break
    elif pilih ==5:
        break;

Masukan pilihanmu
1. Detail Buku
2. Detail Member
3. Peminjaman or Pengembalian
4. Report
5. Exit
pilihan = 3
Pilihannya
1. Mengambil Buku
2. Mengembalikan Buku
3. Exit
Masukan pilihan = 2
masukan member id = 1
masukan id buku = 2
masukan tanggal pengembalian = 2000-11-11
masukan jumlah stok = 1

DataError: 1136 (21S01): Column count doesn't match value count at row 1